<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/w3.css">
<body ng-app="myApp" ng-controller="userCtrl">

<div class="w3-container">

<h3>User Log In</h3>   

  <form name="myForm" ng-hide="hideform">
    <div ng-show="edit">
      <!-- Input username and password -->
      <label>Username:</label>
      <input class="w3-input w3-border" type="text" name="userName" ng-model="userName" placeholder="User name" required><br>
    </div>

    <div ng-show="edit">
      <label>Password:</label>
      <input class="w3-input w3-border" type="password" name="passw1" ng-model="passw1" placeholder="Password" required>
    </div><br>
    
    <div ng-show="edit">
      <label>Repeat password:</label>
      <input class="w3-input w3-border" type="password" ng-model="passw2" placeholder="Repeat Password">
    </div>
      
    <br>
    <button class="w3-btn w3-green w3-ripple" ng-click="loginUser()" ng-disabled="error || incomplete">&#10004; login</button>
  </form>

</div>

<script src= "js/authentication.js"></script>

</body>
</html>
