<!DOCTYPE html>  
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<body ng-app="myApp" ng-controller="userCtrl">

<div class="w3-container">

<h3>Admin Section</h3>
<div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"  >
      <h3><b>Morning</b></h3>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h3><b>Afternoon</b></h3>
    </div>
  </div>
</div>

<table class="w3-table w3-bordered w3-striped">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Duty</th>
    <th style="border-right: 5px solid black">Venue</th>
    <th>Duty</th>
    <th>Venue</th>
    <th>status</th>
    <th>sign</th>
    <th>Comment</th>
  </tr>
  <tr ng-repeat="user in users">
    <td>
      <button class="w3-btn w3-ripple" ng-click="editUser(user.id)">&#9998; Numbering</button>
    </td>
    <td>{{ Name }}</td>
    <td>{{ Duty }}</td>
    <td style="border-right: 5px solid black">{{ Venue }}</td>
    <td>{{ Duty }}</td>
    <td>{{ Venue }}</td>
    <td>{{ status }}</td>
    <td>{{ sign }}</td>
    <td>{{ comment }}</td>
  </tr>
</table>
<br>
<button class="w3-btn w3-green w3-ripple" ng-click="editUser('new')">&#9998; Print Report</button>


</div>

<script src= "js/myUsers.js"></script>

</body>
</html>
