<!DOCTYPE html>  
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<body ng-app="myApp" ng-controller="userCtrl">

<div class="w3-container">

<h3>User: Nga'ng'a</h3>
<div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"  >
      <h3><b>Morning</b></h3>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <h3><b>Afternoon</b></h3>
    </div>
  </div>
</div>

<table class="w3-table w3-bordered w3-striped">
  <tr>
    <th></th>
    <th>Date</th>
    <th>Duty</th>
    <th style="border-right: 5px solid black">Venue</th>
    <th>Duty</th>
    <th>Venue</th>
  </tr>
  <tr ng-repeat="user in users">
    <td>
      <button class="w3-btn w3-ripple" ng-click="editUser(user.id)">&#9998; Numbering</button>
    </td>
    <td>{{ Date }}</td>
    <td>{{ Duty }}</td>
    <td style="border-right: 5px solid black">{{ Venue }}</td>
    <td>{{ Duty }}</td>
    <td>{{ Venue }}</td>
  </tr>
</table>
<br>
<button class="w3-btn w3-green w3-ripple" ng-click="editUser('new')">&#9998; Create New record</button>

<form ng-hide="hideform">
  <h2 ng-show="edit"><b>Create New Record:</b></h2>
  <!-- <h3 ng-hide="edit">Edit User:</h3>-->
  <br>
    <label>Date:</label>
    <input class="w3-input w3-border" type="Date" ng-model="Date" >
  <br>
  <!--Morning shift-->
  <h3><b>Morning</b></h3>
    <label>Duty:</label>
    <input class="w3-input w3-border" type="text" ng-model="morningDuty" placeholder="Morning Duty">
  <br>
    <label>Venue:</label>
    <input class="w3-input w3-border" type="text" ng-model="morningVenue" placeholder="Morning venue">
  <br>
  <!--Afternoon shift-->
  <h3><b>Afternoon</b></h3>
    <label>Duty:</label>
    <input class="w3-input w3-border" type="text" ng-model="afternoonDuty" placeholder="Afternoon duty">
  <br>
    <label>Venue:</label>
    <input class="w3-input w3-border" type="text" ng-model="afternoonVenue" placeholder="Afternoon venue">
  <br>

  <label>Comments:</label>
    <textarea class="w3-input w3-border" type="text" ng-model="comments" placeholder="Enter your comments here"></textarea>
  <br>

  <button type="submit" class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete">&#10004; Save Changes</button>
</form>

</div>

<script src= "js/myUsers.js"></script>

</body>
</html>
